CONNECTION_AICHAT_ENDPOINT="https://.openai.azure.com/"
CONNECTION_AICHAT_APIKEY=""
CONNECTION_AIEMBEDDING_ENDPOINT="https://.openai.azure.com/"
CONNECTION_AIEMBEDDING_APIKEY=""
CONNECTION_AIEMBEDDING_DEPLOYMENT="text-embedding-3-small"
CONNECTION_AICHAT_DEPLOYMENT="gpt-4"

CONNECTION_SQLSERVER_CONNECTIONSTRING="Server=.database.windows.net;Database=;Authentication=Active Directory Default;Connection Timeout=90;"
MSSQL_TABLE_NAME="ChatMemories"
